/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cartões de Contas */
.card {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

/* Botões de Ação */
.acoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.acoes button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.acoes button:hover {
    background-color: #0056b3;
}

.acoes button:disabled {
    background-color: #ccc;
}

/* Modal */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: none; /* Inicialmente escondido */
    z-index: 9999; /* Garante que o modal ficará acima de outros elementos */
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#modal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%; /* Ajuste para celular */
    max-width: 500px;
    margin: 0 auto;
}

#modal .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#modal .modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#modal .modal-content button:hover {
    background-color: #0056b3;
}

/* Botão de Fechar */
.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
    .card {
        padding: 15px;
        margin: 5px 0;
    }

    .acoes {
        flex-direction: column;
    }

    .acoes button {
        margin-bottom: 10px;
    }
}

/* Estilo do botão de Adicionar Conta */
#adicionarConta {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

#adicionarConta:hover {
    background-color: #218838;
}

/* Layout geral */
#listaContasMobile {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Notificação */
.notification {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}
